
<Table className="TablaDePedidos">

  <thead>
  <tr>
    <th data-field="pino">Pino</th>
    <th data-field="gusto1">Gusto1</th>
    <th data-field="gusto2">Gusto2</th>
  </tr>
  </thead>
  <tbody>
  {{#each pedidos as |pedido|}}
    <tr>
      <td>{{pedido.pino}}</td>
      <td>{{pedido.gusto1}}</td>
      <td>{{pedido.gusto2}}</td>
    </tr>
    {{/each}}
  </tbody>
</Table>